
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.logoRedes {
  width: 70;
  height: 70;
  padding: 5;
  margin: 5;
  transform: transform 1s; }

.imagenesMarcas {
  width: 500px;
  height: 500px; }

.logoChupi {
  width: 120px;
  height: 120px;
  transition: transform 1s; }

.logoChupi:hover {
  transform: scale(1.1); }

.imagenFondo {
  background-image: url("../assets/images/bebidas9.jpg");
  height: 100vh;
  width: 100%; }

.fondoServicios {
  background-color: none;
  height: 100vh;
  opacity: 80%; }

.fondoServicios {
  background-color: none;
  height: 100vh;
  opacity: 80%; }

.accordion-button {
  background-color: black;
  color: white; }

.logoRedes {
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 5px;
  transition: transform 1s; }

.logoRedes:hover {
  transform: scale(1.05) translateY(-20px); }

.accordion-button {
  background-color: black;
  color: white; }

.accordion-collapse {
  background-color: black;
  color: white; }

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white; }

.tracking-in-expand {
  animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) 1s infinite both; }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
