@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@mixin sizeLogoRedes ($width, $heigt, $padding, $margin, $efecto) {
    width: $heigt;
    height: $heigt;
    padding: $padding;
    margin: $margin;
    transform: $efecto;
}
.logoRedes {
    @include sizeLogoRedes(70px,70 ,5 ,5 , transform 1s )
}

@mixin sizeImageMarcas ($width, $heigth){
    width: $width;
    height: $heigth;
}
.imagenesMarcas{
    @include sizeImageMarcas(500px, 500px )
}
@mixin sizeLogoChupi ($width, $heigth, $efecto) {
    width: $width;
    height: $heigth;
    transition: $efecto;
}
.logoChupi{
    @include sizeLogoChupi(120px, 120px, transform 1s )
  }

.logoChupi:hover{
    transform: scale(1.1)
}

